* {margin: 0; padding: 0;}

html, body{width: 100%; height: 100%;}
.row {width:100%;}


html, body, #gameboxContainer, #gamebox {position: relative; z-index: -1;}
.tile, .character, .object {position: absolute;}
.tile { z-index: -2;}
.character img {max-width: 100%; max-height: 100%;}
.characterImg{
			max-width: 30px;
			max-height: 40px;
		}
.tile img, .object img {width: 100%; height: 100%;
vertical-align: top;}

#gameboxContainer {
	height: 100%;
	background: black;
	/*border: 1px solid blue;*/
	padding: 0;

	/*overflow-x: scroll; */
	/*overflow-y: scroll;*/
	z-index: -2;
	overflow: hidden;
}

#gamebox {
	/*border: 1px solid blue;*/
	overflow-x: scroll; 
	overflow-y: scroll;
	width:100%;
	height:100%;
	padding-right: 17px;  
	padding-bottom: 17px;
    box-sizing: content-box; 
	/*overflow: hidden;*/
}

.btn-heal, .btn-heal:hover, .btn-heal:active, .btn-heal:focus {
	background: #eb93ff;
	color: white;
}
.btn-heal:focus {border: 1px solid #ff78e2;}
.btn-heal:hover {background: #ff78e2;}

input {padding-top: 5px;}
button {margin-top: 5px;}
.toolbar {margin-top: 5px; padding-left: 0px;}

#actionOutputContent, #actionScriptname, #actionScripttext {
	cursor: default;
}

#gameboxScroller {
	overflow: hidden; height: 70%; position: relative; z-index: -2;
}

@media only screen 
and (min-device-width: 360px) 
and (max-device-width: 640px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    #gameboxScroller {
        height: 50%;
    }
}

.popover {
	background: #767c7f;
	opacity:.9 !important;
	max-width: 100px;
}
.popover-content {
	background: white;
	color: darkgray;
}
.popover-title {
	background: white;
	color: #73c4df;
}

.tiny {
	max-width: 15px;
	max-height: 15px;
}